@media (max-width: 768px) {
  /*-----Nav-----*/
  .burger {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #30343c;
  }

  .navLinks.show {
    display: flex;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .navLinks a {
    justify-content: flex-end;
    display: flex;
  }

  /*-----About-----*/
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-p {
    font-size: 0.9rem;
  }

  .img-container {
    max-width: 200px;
    margin-bottom: 15px;
  }

  .btn-info {
    padding: 10px 15px;
    font-size: 1rem;
  }

  .frame-container {
    margin-left: 2rem;
    width: 60%;
  }

  /*-----Section langages-----*/
  .container-card-langages {
    flex-direction: column;
    align-items: stretch;
  }

  .cards-langages {
    justify-content: center;
  }

  .photo-profil {
    display: none;
  }

  #langages {
    padding: 5rem 1rem 10rem 1rem;
  }

  /*-----Projects-----*/
  .container-projects {
    padding: 1.5rem;
  }

  .card {
    width: 90%;
    max-width: 20rem;
    margin: auto;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
  }
  .mail {
    width: 100%;
  }
}

/*-----Responsive XS : Téléphones petits écrans-----*/
@media (max-width: 480px) {
  .about-title {
    font-size: 1.8rem;
  }

  .about-p {
    font-size: 0.85rem;
  }

  .img-container {
    max-width: 180px;
  }
}

/*-----Tablettes-----*/
@media (min-width: 769px) and (max-width: 1024px), (min-width: 1025px) {
  .container-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
